.blue{
    color: blue;
}

.bgolivedrab{
    background-color: olivedrab;
}

.green{
    color : green;
}

.bgWheat{
    background-color: wheat;
}

.highlight{
    font-size: 20px;
    color: orchid;
}

